* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Karla", sans-serif;
    background: #F5F7FB;
    
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25vh;
    
}
h1{
    font-weight: 700;font-style: Bold;font-size: 31.25px;text-align: center;
    margin-bottom: 0;
}
p{
    margin-bottom: 2rem;
}
button#game-start{
    width: 193px;height: 52px;border-radius: 15px;
    background-color: #4D5B9E;color:#F5F7FB;
    font-family: Inter;font-weight: 500;font-size: 16px;leading-trim: NONE;line-height: 100%;letter-spacing: 0%;text-align: center;
    cursor: pointer;
}
.blob1 {
    position: absolute;
    width: 297px;
    height: 235px;
    /* transform: rotate(-128.49deg); */
    top:0vh;
    left: 70vw;

}
#questions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.blob2 {
    /* blobs */

    position: absolute;
    width: 297px;
    height: 235px;
    top:80vh;
    left:0vw;
}
form{
    text-align: left;
    display: flex;
    justify-content: left;
    gap:1.5em;
}
.questions{
    
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}
.questions>p{
    color:#293264;
    margin-top: 1.5rem;
    margin-bottom: 1.5em;
    font-family: Karla;font-weight: 700;font-style: Bold;font-size: 16px;line-height: 100%;letter-spacing: 0%;
    }
hr{
    width:80vw;
    margin-left: 0;
    margin-bottom: 0;
}
label{
  color: #293264;
}
input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
  font-family: Inter;font-weight: 500;font-size: 10.24px;leading-trim: NONE;line-height: 100%;letter-spacing: 0%;text-align: center;
}
 label {
    display: inline-block;
    padding: 4.02px 15.75px;
    border: 0.79px solid #4D5B9E;
    border-radius: 7.94px;
    cursor: pointer;
}
/* input[type="radio"].checku:focus + label {
    border: none;   
    background-color: #D6DBF5;
} */
 /* label:focus{
    background-color:#D6DBF5;
    
 } */
 label.checku:hover {
  background-color: #e8eaf4;
}
label.checku{
    background-color:#D6DBF5;
    border: none;
}
/* input[type="radio"].checku {
    background-color: #D6DBF5;
    /* border-color: none; 
}*/
.showCorrect{
    background: #94D7A2;
    border: none;
    color:#293264 !important;
}
.showWrong{
    background: #F8BCBC;
    border:none;
}
.didi{
    cursor: not-allowed;   
    border: 0.79px solid #4D5B9E;
    font-family: Inter;font-weight: 500;text-align: center;
    color:#918e9b;
}
p.score{
    font-family: Inter;font-weight: 700;font-size: 12.8px;leading-trim: NONE;line-height: 100%;letter-spacing: 0%;text-align: center;
    margin-top: 30px;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:25px;
}
button.submit{
    width: 120px;height: 35px;border-radius: 10px;
    background: #4D5B9E;
    font-family: Inter;font-weight: 600;font-style: Semi Bold;font-size: 10.24px;leading-trim: NONE;line-height: 100%;letter-spacing: 0%;text-align: center;
    color: #F5F7FB;
    cursor: pointer;
    margin-top: 20px;
}
.resz{
    width:104px !important;
    height: 30px !important;
    margin-top: 0px !important;
}
.blob4{
    /* blobs */

position: absolute;
width: 297px;
height: 235px;
left: 85vw;
top: -25vh;
z-index:-1;
transform: rotate(-128.49deg);

}
.blob3{
    /* blobs */

position: absolute;
width: 201px;
height: 142px;
left: -20vw;
top: 85vh;
z-index:-1;

}
